.qualities{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.sourceBody{
    display:flex;
    .listElement{
        padding:1rem;
        cursor: pointer;
        &:hover{
            background-color:rgb(129, 45, 45) ;
            transition:0.5s;
        }
    }
    
    .addButton{
        width:100%;
    }

     .name{
        display: flex;
        align-content: center;
        text-align: center;
        margin-top: 1rem;
        background-color: salmon;
    }

    .description{
        height: 30rem;
        width: 40rem;
        padding : 1rem;
        font-size: 1rem;
       text-align:justify;
        background-color: rgb(192, 186, 185) ;
        box-shadow: 0 0 34px rgba(0, 0, 0, 0.9);
    }

}



