.menu{
    position: relative;
    background-color: rgb(41, 15, 15);
    width:15rem;
    color:white;
    height:100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .header{
        text-align: center;
        border-top: 1px solid white;
        font-size: 25px;
        padding:1rem;
    }
    .footer{
        display: flex;
        align-items: flex-end;
        flex-grow: 3;
        width:15rem;
        bottom:0px;
    }
}



