.talents {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
     font-size: 2rem;
    .wrap1 {
        margin-bottom: 1rem;
        display: flex;
        width: 30rem;
        justify-content: space-around;
        div {
            border-right: solid rgb(0, 0, 0);
            text-align: center;
            padding-right: 3.5rem;
            &:last-child{
            border-right-width: 0;
            }
        }
        
    }

    .description {
        height: 30rem;
        width: 40rem;
        padding : 1rem;
        font-size: 1rem;
        text-align:justify;
        background-color: rgb(192, 186, 185) ;
        box-shadow: 0 0 34px rgba(0, 0, 0, 0.9);
    }
    .worlds{
        display: inline-block;

    }
    
    .lang {
        display: inline-block;
    }
    .activation {
        margin-bottom: 1rem;
    }
    
}