.talentsBody{
        display:flex;
        width: 100%;
        .elements{
            display: flex;
            flex-direction: column;
        .listElement{
            display:flex;
            padding:1rem;
            cursor: pointer;
            &:hover{
                background-color:rgb(129, 45, 45) ;
                transition:0.5s;
            }
            .cross{
                display: flex;
                flex:1;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                font-family: Arial, Helvetica, sans-serif;
                div{
                    margin-right: 0.5rem;
                    width: 1rem;
                  svg {
                    width: 100%;
                    ;
                }  
                }
                
            }
        }
    }
        .listElement{
            padding:1rem;
            cursor: pointer;
            &:hover{
                background-color:rgb(129, 45, 45) ;
                transition:0.5s;
            }
        }
        .addButton{
            width:100%;
        }

    .talents {
        margin: 1rem;
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        .name {
            margin-bottom: 1rem;
        }
        .description {
            font-family: Arial, Helvetica, sans-serif;
            overflow-y: auto;
            height: 40rem;
            width: 70rem;
            padding : 1rem;
            font-size: 1.5rem;
            text-align:justify;
            background-color: rgb(41, 15, 15) ;
            color:white;
            box-shadow: 0 0 34px rgba(0, 0, 0, 0.9);
        }
        .info{
            display: flex;
            flex-wrap: wrap;
            width: 40rem;
            
            span {
                font-weight: bold;
            }
            .infoItem{
                text-align: center;
                width:50%;
                flex-wrap: wrap;
            }
        }
    }
}