.header {
    height:4rem;
    width:100%;
    background-color:rgb(41, 15, 15);
    display: flex;
    .nav{
        height: 4rem;
        width:100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    .links{
        display:flex;
        width:80%;
        height:100%;
        .navLink {
            color: rgb(255, 255, 255);
            font-size: larger;
            height: 100%;
            width:12.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: all 0.5s;
                &:hover {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                }
            } 
    }
    .accountPlace{
        height: 100%;
        width:20%;
        display: flex;
        justify-content:space-around;
        cursor: pointer;

    }
    .account{
        text-decoration: none;
        font-size: larger;
        height: 100%;
        width: 50%;
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    }
    }
}

.modalPlace{
    position: absolute;
    margin-top:10rem;
    width:100%;
    display: flex;
    justify-content: center;
}

.modalBody{
    width:100%;
    span{
        color:white;
    }
    .inputs{
        text-align: center;
        justify-content: center;
        background-color:rgb(129, 45, 45);
        .inputName{
            font-size: 30px;
        }
        .descriptionWindow{
            min-width: 100%;
            width: 100%;
            max-width: 100%;
        }
    }
    }
    .buttonSubmit{
        width:100%;
    }